.photo__like {
  border: none;
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url(../../../images/like.svg);
  background-position: center;
  font-size: 0;
  cursor: pointer;
}

.photo__like:hover{
  opacity: 0.5;
}
