.authorization__button {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: none;
    margin-top: 186px;
    min-height: 50px;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: #000000;
    
  }
  
  .authorization__button:hover {
    opacity: 0.8;
  }
  