.form__item-error {
  width: 358px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00000;
  margin: 0;
  position: absolute;
  top: 100%;
  font-family: 'Inter';
  font-style: normal;
}





