.profile__edit {
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../../images/profile-edit.svg);
  background-position: center;
  display: flex;
  align-self: center;
  font-size: 0;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-top: 22px;
  }
}




