.popup__container {
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 430px;
  color: #000;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  /*height: 330px;*/
}

.popup_type_open-photo .popup__container {
  padding: 0;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75vw;
  width: auto;
}

@media screen and (max-width: 800px) {
  .popup__container {
    width: 88%;
    padding: 25px 22px;
  }
}


