.authorization__data {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
  
    color: #CCCCCC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .authorization__data:focus {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  }