.profile__info {
  display: grid;
  grid-template-columns: fit-content(100%) min-content;
  column-gap: 18px;
  row-gap: 16px;
  margin: 0 0 0 30px;
  flex-grow: 1;
}

@media screen and (max-width: 700px) {
  .profile__info {
    row-gap: 9px;
    column-gap: 10px;

  }
}
