.popup__close {
  position: absolute;
  background-image: url(../../../images/PopupClose.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  font-size: 0;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close {
    background-image: url(../../../images/CloseMob.svg);
    right: 0;
    top: -36px;
    width: 20px;
  }
}
