.authorization__caption {
    cursor: pointer;
    margin: 15px auto;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.17;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 358px;
  }
  
  